html,body{
	text-align:center;
	background-color:#e6e6e6;
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	font-family: "Verdana", sans-serif;
}
#container{
	margin-top:5vh;
	display:inline-block;
	background-color: white;
	padding: 1.5em 2.75em 1.5em 2.75em;
	border-radius:0.5em;
	box-shadow: 7px 7px 5px #a9a9a9;
}
#search{
	padding:0.5em;
}
#search #input1{
	border-style:solid;
	border-color:#e6e6e6;
	border-radius:0.2em;
	border-width:1px;
}
#search #button1{
	cursor:pointer;
	font-weight:bold;
	background-color:#e6e6e6;
	border-style:solid;
	border-color:#e6e6e6;
	border-radius:0.2em;
	border-width:1px;
}
#search #button1:hover{
	background-color: lightgray;
}
#fail{
	margin-top:5%;
	padding-left: 0.25em;
	background-color:#ffcccc;
	text-align:left;
	border-style:solid;
	border-color:#ff8080;
	border-radius:0.2em;
	border-width:1px;
	display:none;
}
#fail p{
	color:#990000;
}
#success{
	height:auto;
	display:block;
}
#info{
    overflow:auto;
}
#info img{
	width:17%;
	float:left;
	margin-right:5%
}
#desc{
	display:block;
}
.descclass{
	display:block;
    text-align:left;
    color:#333333;
}
#desc #username{
	font-style:italic;
	font-size:0.8em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.25em;
    color:blue;
}
#desc #username:hover{
	color:#000099;
}
#desc #fullname{
	font-weight:bold;
	font-size:1.25em;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}
#desc #descripcio{
	font-size:0.8em;
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0em;
}
#titolrepos{
	text-align:left;
	border-bottom-style:solid;
	border-bottom-color:#333333;
	color:#333333;
}
#divtable{
	width:100%;
	max-width:600px;
	max-height:350px;
	overflow:auto;
}
table {
	table-layout: fixed;
	border-spacing:0.2em;
	border-collapse:collapse;
}
tr{
	width:100%;
	border-bottom:solid thin;
}
#namerepo{
	width:100%;
	text-align:left;
}
.number{
	width:5%;
}
#star{
	width:100%;
	max-width:15px;
	min-width:15px;
}
#fork{
	width:100%;
	max-width:15px;
	min-width:15px;
}