#success{
	height:auto;
	display:none;
}
#info{
    overflow:auto;
}
#info img{
	width:17%;
	float:left;
	margin-right:5%
}
#desc{
	display:block;
}
.descclass{
	display:block;
    text-align:left;
    color:#333333;
}
.url{
	font-style:italic;
	font-size:0.8em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.25em;
    color:blue;
    text-decoration:none;
}
.url:hover{
	color:#000099;
}
#desc #fullname{
	font-weight:bold;
	font-size:1.25em;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}
#desc #descripcio{
	font-size:0.8em;
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0em;
}
#titolrepos{
	text-align:left;
	border-bottom-style:solid;
	border-bottom-color:#333333;
	color:#333333;
}
#divtable{
	width:100%;
	max-width:600px;
	max-height:300px;
	overflow:auto;
}
table {
	table-layout: fixed;
	border-spacing:0.2em;
	border-collapse:collapse;
}
tr{
	width:100%;
	border-bottom:solid thin;
}
#namerepo{
	width:100%;
	text-align:left;
}
.number{
	width:5%;
}
#star{
	width:100%;
	max-width:15px;
	min-width:15px;
}
#fork{
	width:100%;
	max-width:15px;
	min-width:15px;
}